celery
redis
pydantic-settings
fastapi
uvicorn
sqlalchemy
openai
pytesseract
pillow
python-multipart
pytest
psycopg2-binary
psycopg[binary]
passlib[bcrypt]
python-jose[cryptography]
email-validator
alembic
python-dotenv
google-generativeai